# Ignore system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore cache and temporary files
.cache/
.local/
.npm/
.yarn/
.p10k.zsh
.bash_history
.zsh_history
.viminfo
.vscode/
*.swp
*~
Thumbs.db
Desktop.ini

# Ignore directories that are not part of your configuration
.android/
.spicetify/
.tmux/
.gitconfig
.git/
.terminfo/

